
/*
======import======
*/

@import "mixin.scss";

/*
======import======
*/


.header {
	width: 100%;
	height: 310px;
	background: lightcoral;
}

.maincontent {
	background: #f8f5f2;
	padding-top: 55px;
	position: relative;
	&:after {
		content: '';
		height: 75px;
		width: 100%;
		position: absolute;
		top: -75px;
		background: url(../img/angle.png) center center no-repeat;
		background-size: cover;
	}
}

.form__title {
	@include main-font-bold;
	@include font-size(40);
	text-transform: uppercase;
	line-height: 30px;
	margin-right: auto;
}

.flex-container {
	align-items: center;
}

.form__link {
	@include main-font-bold;
	@include font-size(18);
	text-transform: uppercase;
	display: block;
	padding: 15px 30px;
	color: #000;
	border: 1px solid #e5ddd5;	
	&:hover {
		border-color: #d5cabe;
	}
	&:active {
		background: #d5cabe;
		color: rgba(0, 0, 0, .3);
	}
}

.form__textfield {
	padding: 25px;
	border: 1px solid #e5ddd5;
	@include main-font;
	@include font-size(24);
	margin-right: 33px;
	outline: none;
	&:last-child {
		margin-right: 0;
	}
	&:hover {
		border-color: #d5cabe;
	}
	&:focus {
		border-color: #000;
	}
	&::-webkit-input-placeholder {
		color: #000;
	}
	&::-moz-placeholder {
		color: #000;
	}
	&:-moz-placeholder {
		color: #000;
	}
	&:-ms-input-placeholder {
		color: #000;
	}
}

.form__textfield--name {
	width: 295px;
}

.textfield-wrap--mt {
	margin-top: 55px;
}

.textfield-wrap {
	margin-bottom: 35px;
}

.form__textfield--contact {
	width: 460px;
}

.form__textfield--info {
	width: 100%;
	height: 210px;
	resize: none;
}

.heading {
	margin-top: 50px;
	text-align: center;
	position: relative;
	margin-bottom: 50px;
	z-index: 1;
	&:after {
		content: '';
		height: 1px;
		width: 100%;
		background: #e5ddde;
		position: absolute;
		top: 50%;
		left: 0;
	}
}

.heading__desc {
	@include main-font;
	@include font-size(30);
	text-transform: uppercase;
	z-index: 9;
	padding: 0 30px;
	position: relative;
	background: #f8f5f2;
}

.beard__list {
	display: flex;
	justify-content: space-between;
}

.beard__item {
	text-align: center;
	&:hover > label > .radio-btn:before {
		border: 1px solid #d5cabe;
	}
	&:hover > label > .radio-btn {
		border: 1px solid #d5cabe;
	}
}

.hidden {
	position: absolute;
	visibility: hidden;
	&:checked + label > .radio-btn {
		background: #d5c9bd;
	}
}

.radio-btn {
	display: inline-block;
	width: 50px;
	height: 50px;
	background: #fff;
	border-radius: 50%;
	border: 1px solid #e5ddd5;
	position: relative;
	transition: background .2s ease-in-out;
	&:before {
		content: '';
		background: #fff;
		width: 18px;
		height: 18px;
		position: absolute;
		border-radius: 50%;
		border: 1px solid #e5ddd5;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

.item__desc {
	@include main-font;
	@include font-size(24);
	padding-bottom: 30px;
	padding-top: 20px;
}

.radio-btn, .item__desc, .beard__img, .checkbox {
	cursor: pointer;
}

.service__list {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: -45px;
} 

.service__item {
	width: 33%;
	margin-bottom: 45px;
}

.service__item > label {
	display: flex;
	align-items: center;
}

.checkbox {
	width: 35px;
	height: 35px;
	background: #fff;
	border: 1px solid #e5ddd5;
	position: relative;
	&:before {
		content: '';
		width: 22px;
		height: 16px;
		background: url(../img/check.png) center center no-repeat;
		position: absolute;
		opacity: 0;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		transition: opacity .3s ease-in-out;
	}
}

.item__desc--pl {
	padding: 0 0 0 25px;
}

.hidden--checkbox:checked + label > .checkbox:before {
	opacity: 1;
}

.form-btn:disabled {
	background: #aeaeae;
	cursor: auto;
	&:hover {
		background: #aeaeae;
	}
}

.form-btn {
	margin-top: 65px;
	margin-bottom: 75px;
	color: #fff;
	text-transform: uppercase;
	@include main-font;
	@include font-size(24);
	background: #826550;
	border: none;
	outline: none;
	width: 100%;
	padding: 25px 0;
	cursor: pointer;
	transition: background .3s ease-in-out;
	&:hover {
		background: #6a4d38;
	}
	&:active {
		color: rgba(255, 255, 255, .3);
	}
}

/*
======import======
*/

@import "modal-window.scss";

/*
======import======
*/