@media screen and (max-width: 1051px) {
   .container {
   		width: 640px;
   }

    .sing-in__link{
        display: none;
    }
    
    .header-bottom__logo-desktop{
        display: none;
    }

    .header-bottom__logo-tablet{
        display: inline-block;
    }
    
    .nav-menu__link{
        .nav-menu__item:hover &{
            color: #353535;
        }
    }
    
    .sing-in__link-before{
        &:hover{
            background: url(../img/sing-in-hvr-tablet.png) no-repeat;
        }
    }
    
    .header-bottom{
        height: 250px;
        padding-top: 100px;
        margin-top: -70px;
    }

   .textfield-wrap {
   		font-size: 0;
   }

   .form__textfield {
   		width: 213.33px;
   		margin-right: 0;
   }

   .form__textfield--contact {
		width: 100%;
		margin-bottom: 35px;
		&:last-child {
			margin-bottom: 0;
		}
   }

   .form__textfield--info {
   		width: 100%;
   }

   .service__item {
   		width: 50%;
   }

       .social-block--tablet{
        display: inline-block;
        width: 100%;
        height: 100px;
        display: flex;
        border: 1px solid #3f3f3f;
    }

    .footer-wrap{
        padding-bottom: 60px;
    }
    
    .social-block--desktop{
        display: none;
    }

    .social-block__item{
        width: 33.5%;
        margin-right: 0;
    }
    
    .social-block__link{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .2s ease-in;
        border: 1px solid #3f3f3f;
        &:hover{
            border: 1px solid #545454;
        }
    }
    
    .third-block__link{
        &:hover{
            border: transparent;
            background: #252525;
            color: #676767;
        }
    }
    
    .social-block__item{
        &:hover{
            border: transparent;
            background: #252525;
            color: #676767;
        }
    }
}




@media screen and (max-width: 671px) {
	.container {
		width: 400px;
	}

	.maincontent {
		padding-top: 35px;
		&:after {
		display: none;
		}
	}	

	.form__link {
		display: none;
	}

	.form__title {
		font-size: 1.875rem;
		margin: auto;
	}

	.textfield-wrap--mt {
		margin-top: 35px;
	}

	.form__textfield {
		width: 100%;
		padding: 15px 20px;
		font-size: 1.125rem;
		margin-bottom: 6px;
		&:last-child {
			margin-bottom: 0;
		}
	}

	.form__textfield--info {
		height: 110px;
	}

	.heading {
		margin: 30px 0;
		&:after {
			display: none;
		}
	}

	.heading__desc {
		font-size: 1.25rem;
	}

	.beard__list {
		flex-wrap: wrap;
		justify-content: flex-start;
		margin-bottom: -30px;
	}

	.beard__item {
		width: 28%;
		margin: 0 30px 30px 0;
		&:nth-child(3) {
			margin-right: 0;
		}
	}

	.item__desc {
		font-size: 1.125rem;
		padding: 15px 0;
	}

	.service__list {
		margin-bottom: -20px;
	}

	.service__item {
   		width: 100%;
   		margin-bottom: 20px;
   		padding-right: auto;
   }

   	 .item__desc--pl {
	 	padding-left: 25px;
	}

	.form-btn {
		margin-top: 40px;
	}
}

@media screen and (max-width: 430px) {
	.container {
		width: 280px;
	}

	.beard__item {
		width: 26%;
	}
}