
/*
======import======
*/

@import "mixin.scss";
@import "variables.scss";
@font-face{
  font-family: "PT Sans Narrow";
  font-weight: 400;
  font-style: normal;
  src: local("PT Sans Narrow"), local("PTSans-Narrow"),
  url("../fonts/ptsansnarrow.woff2") format("woff2"),
  url("../fonts/ptsansnarrow.woff") format("woff");
}

@font-face{
  font-family: "PT Sans Narrow";
  font-weight: 700;
  font-style: normal;
  src: local("PT Sans Narrow Bold"), local("PTSans-NarrowBold"),
  url("../fonts/ptsansnarrowbold.woff2") format("woff2"),
  url("../fonts/ptsansnarrowbold.woff") format("woff");
}

/*
======default settings======
*/

*{
   box-sizing: border-box;
}

body,html{
   margin: 0;
   min-height: 100vh;
}

.wrapper {
	display: flex;
	flex-flow: column nowrap;
}

.maincontent {
	flex: 1 0;
}

body{
	background: $bg;
}

ol,ul{
   margin: 0;
   padding: 0;
   list-style: none;
}

h1,h2,h3,h4,h5,h6,p{
   margin-bottom: 0;
}

a{
   text-decoration: none;
}

figure{
	margin: 0;
	padding: 0;
}

.container{
	max-width: 1200px;
	padding: 0 15px;
	position: relative;
	margin: 0 auto;
}

/*
======header======
*/



/*
======main======
*/


/*
======first section======
*/


// .first-section{
// 	width: 100%;
// 	height: 380px;
// 	background: url('../img/bg-header.jpg') center center no-repeat;
// 	background-size: cover;
// 	position: relative;
// }

.first-section-angel{
	width: 100%;
	height: 380px;
	background: url('../img/angle-div-first.png') bottom no-repeat;
	background-size: contain;
	z-index: 999;
	bottom: 0;
	left: 0;
}


/*
======second section======
*/

.second-section__content-wrap{
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
	background: $bg;
	padding-top: 65px;
}

.second-section__top{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.second-section__title{
	display: flex;
	font-family: $font-basic, sans-serif;
	font-size: 2.5 rem;
	line-height: 2.75 rem;
	font-weight: 700; 
	text-transform: uppercase;
	margin-left: 100px;
}

.second-section__form{
	margin-right: 100px;
	border: 1px solid $border;
	padding: 15px 35px;
}

.second-section__form:hover{
	background: $btn-hover;
	color: #a1988f;
}

.second-section__link{
	font-family: $font-basic, sans-serif;
	font-size: 1.125 rem;
	line-height: 1.25 rem;
	font-weight: 700; 
	text-transform: uppercase;
	color: #000;
	cursor: pointer;

}
.big-img{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	padding-top: 90px;
	position: relative;
	overflow: hidden;
}

.figure-img{
	margin: 0; 
	position: relative;
}

.first-man{
	max-width: 480px;
	max-height: 480px;
	width: 480px;
	height: 480px;
	line-height: 0;
	display: block;
	background: url(../img/first-man.jpg);
}

.clearfix{
	clear: both;
}

.label{
	width:100%;
    justify-content: flex-end;
    display: flex;
    margin: 25px 0;
}

.label-marker{
	outline: none;
	background: url( '../img/before-label.png');
	width: 8px;
	height: 50px;
}

.label-mob{
    display: none;
}

.label__title{
	padding: 15px;
    background: #826550;
    font-family: $font-basic;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.25rem;
    color: $white;
    text-transform: uppercase;
 }

.big-img__desc {
	text-align: left;
	width: 480px;
	height: 480px;
	border-top: 1px solid $border;
	border-bottom: 1px solid $border;
	border-right: 1px solid $border;
	padding: 0 40px;
}

.big-img__title{
	font-family: $font-basic;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.big-img__text{
	font-family: $font-basic;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5rem;
    padding-top: 30px;
    max-width: 300px;
}

.big-img__down{
	display: flex;
}

.big-img__list{
	display: flex;
	position: absolute;
	bottom: 0;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 35px;
}

.big-img__item{
	display: flex;
	flex-flow: row wrap;
	margin-right: 35px;
}

.big-img__item:last-child{
	margin-right: 0;
}

.haircut{
	width: 21px;
	height: 20px;
}

.beard{
	width: 23px;
	height: 23px;
}

.moustache{
	width: 45px;
	height: 12px;
	margin-top: 5px;
}

.type-of-work{
	margin-right: 15px;
}

.type-of-work:last-child{
	margin-right: 0;
}

.type-of-work__desc{
	font-family: $font-basic;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5rem;
    text-transform: uppercase;    
}

/*
======columns======
*/
.columns{
	display: flex;
	flex-wrap: wrap;
	margin:  0 auto;
	max-width: 960px;
	margin-top: 40px;
}

.columns__content-wrap{
	display: flex;
	max-width: 300px;
	height: auto;
	flex-flow: column wrap;
	margin-top: 35px;
	margin-right: 30px;
}

.columns__content-wrap:last-child{
	margin-right: 0;
}

.mini-man{
	width: 100%;
	height: 100%;
	line-height: 0;
	display: block;
}

.columns__desc{
	display: flex;
	flex-direction: column;
	text-align: left;
	width: 300px;
	min-height: 300px;
	margin-bottom: 30px;
	padding:35px;
	border-left: 1px solid $border;
	border-bottom: 1px solid $border;
	border-right: 1px solid $border;
}

.columns__title{
	font-family: $font-basic;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.columns__text{
	font-family: $font-basic;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5rem;
    padding-top: 30px;
    width: 230px;
}
.columns__content-top{
	display: flex;
	flex-flow: column nowrap;
	margin-top: 0;
}
.columns__content-type{
	margin-top: auto;
	display: flex;
	flex-flow: row nowrap;
}

.angel-tablet{
	display: none;
}
/*
======pricelist======
*/
 .pricelist {
    width: 100%;
    background-color: #353535;
	color: #fff;
	padding: 50px 20px 19px;
}
 .pricelist__title{
 	font-family: $font-basic;
 	font-weight: 700;
 	line-height: 30px;
    text-transform: uppercase;
 }
      
.pricelist__wrapper {
    display: block;
    max-width: 960px;
    margin: 0 auto;
}

.pricelist__table__wrapper{
    margin-top: 50px;
    display: flex;
}
            
.pricelist__table{
  	border-collapse: collapse;
 	display: table;
 	width: 630px;
 	margin-right: 65px;
 	font-family: $font-basic;
    font-size: 1.2475em;;
 	font-weight: 400;
}

.pricelist__row{
    display: table-row;
}

.pricelist__cell{
    display: table-cell;
    border: 1px solid #4a4a4a;
    padding: 20px;
}

            
.col-1{
    min-width: 70px;
    text-align: center;
    color: #868686;
}

.col-2{
    font-weight: 700;
    min-width: 250px;
}

.col-3{
    min-width: 160px;
}

.col-4{
    min-width: 150px;
}
            
.pricelist__discount {
    display: flex;
    width: 30%;
    font-size: 1.2475em;;
    font-family: $font-basic;
    flex-flow: column wrap;
    padding: 16px 0;
    border: #4a4a4a solid 1px;
    align-items: center;
    justify-content: space-between;
}


.pricelist__discount-clock {
    fill: #fff;
    padding-top: 35px;
}

.pricelist__discount-text {
    width: 60%;
    margin: 0;
    text-align: center;
    padding-bottom: 15px;
    font-size: 1.2475em;;
}





/*
======footer======
*/