/*
=====================Color=====================
*/

$black:                                    #000;
$white:                                    #fff;
$bg: 									#f8f5f2;
$border:								#e5ddd5;

/*
=====================font======================
*/

$font-basic:                               "PT Sans Narrow";                                