/*
=====================Color=====================
*/

$black:                                    #000;
$white:                                    #fff;
$bg: 									#f8f5f2;
$border:								#e5ddd5;
$btn-hover:								#d5c9bd;
$brown:                                 #826550;
$dark-grey:                             #353535;
/*
=====================font======================
*/

$font-basic:                               "PT Sans Narrow";                                